@import "../style.styl";

//
// Home - Mobile
// --------------------------------------------------

/*.mobile
	position fixed
	
	.home
		.zodiac
			bottom -50%
			left 50%
			margin-left -100px
			position absolute
			
			@media (min-width: width-tabletportrait)
				bottom -25%
				margin-left -67.5px
				
			.bx-viewport
				height 300px!important
				
				li
					height 300px!important*/
					
					/*a
						background-position 0 75%
						min-height 300px!important*/