@import "../style.styl";

//
// Header
// --------------------------------------------------

h1
	background site-white
	border-bottom 4px solid site-red-dark
	color #000
	font-family 'Slackey',sans-serif
	font-size 15px
	margin 20px auto 10px
	padding 10px
	text-transform uppercase
	width 290px
	
	@media (min-width: width-tabletportrait)
		border-bottom 8px solid site-red-dark
		font-size 45px
		margin 40px auto 30px
		padding 40px
		width 560px