@import "../style.styl";

//
// Nicescroll
// --------------------------------------------------

.nicescroll-rails
	background rgba(255, 255, 255, 0.3)
	
.nicescroll-rails,
.nicescroll-cursors
	width 5px!important
	
	@media (min-width: width-tabletlandscape)
		width 10px!important